<Ui::Form::Field
  @errorMessage={{this.errorMessage}}
  @isWide={{@isWide}}
>
  <:label as |l|>
    <label data-test-label for={{l.inputId}}>
      {{@label}}

      {{#if @isRequired}}
        <span aria-hidden="true">
          *
        </span>
      {{/if}}
    </label>
  </:label>

  <:field as |f|>
    <div class={{this.styles.select-container}}>
      <select
        class={{local
          this.styles
          "select"
          (if (or @isDisabled @isReadOnly) "is-disabled")
        }}
        data-test-field={{@label}}
        disabled={{or @isDisabled @isReadOnly}}
        id={{f.inputId}}
        required={{@isRequired}}
        {{on "change" this.updateValue}}
      >
        {{#if (eq this.value "")}}
          <option disabled selected value="">
            {{t "components.ui.form.select.default-option"}}
          </option>
        {{else}}
          <option disabled value="">
            {{t "components.ui.form.select.default-option"}}
          </option>
        {{/if}}

        {{#each this.options as |opt|}}
          {{#if (eq opt.value this.value)}}
            <option
              data-test-option={{opt.label}}
              selected
              value={{opt.value}}
            >
              {{opt.label}}
            </option>
          {{else}}
            <option
              data-test-option={{opt.label}}
              value={{opt.value}}
            >
              {{opt.label}}
            </option>
          {{/if}}
        {{/each}}
      </select>

      <button
        aria-label={{t
          "components.ui.form.select.clear.aria-label"
          label=@label
        }}
        class={{this.styles.clear-button}}
        data-test-button="Clear"
        type="button"
        {{on "click" this.resetValue}}
      >
        <span aria-hidden="true">
          {{t "components.ui.form.select.clear.label"}}
        </span>
      </button>
    </div>
  </:field>
</Ui::Form::Field>