{{page-title (t "routes.form.title")}}

<Ui::Page @title={{t "routes.form.title"}}>
  <Ui::Form
    @data={{this.initialData}}
    @instructions={{t
      "routes.form.contact-me-form.instructions"
    }}
    @onSubmit={{this.submitForm}}
    @title={{t "routes.form.contact-me-form.title"}}
    as |F|
  >
    <div class={{this.styles.field}}>
      <F.Input
        @isRequired={{true}}
        @key="name"
        @label={{t
          "routes.form.contact-me-form.fields.name.label"
        }}
        @placeholder={{t
          "routes.form.contact-me-form.fields.name.placeholder"
        }}
      />
    </div>

    <div class={{this.styles.field}}>
      <F.Input
        @isRequired={{true}}
        @key="email"
        @label={{t
          "routes.form.contact-me-form.fields.email.label"
        }}
        @placeholder={{t
          "routes.form.contact-me-form.fields.email.placeholder"
        }}
        @type="email"
      />
    </div>

    <div class={{this.styles.field}}>
      <F.Textarea
        @key="message"
        @label={{t
          "routes.form.contact-me-form.fields.message.label"
        }}
      />
    </div>

    <div class={{this.styles.field}}>
      <F.Checkbox
        @key="subscribe"
        @label={{t
          "routes.form.contact-me-form.fields.subscribe.label"
        }}
      />
    </div>

    <div class={{this.styles.field}}>
      <F.Input
        @key="donation"
        @label={{t
          "routes.form.contact-me-form.fields.donation.label"
        }}
        @minValue={{0}}
        @placeholder={{t
          "routes.form.contact-me-form.fields.donation.placeholder"
        }}
        @step={{10}}
        @type="number"
      />
    </div>
  </Ui::Form>
</Ui::Page>