{{page-title (t "routes.form.title")}}

<Ui::Page @title={{t "routes.form.title"}}>
  <Ui::Form
    @data={{this.initialData}}
    @instructions={{t
      "routes.form.contact-me-form.instructions"
    }}
    @onSubmit={{this.submitForm}}
    @title={{t "routes.form.contact-me-form.title"}}
    as |F|
  >
    <div class={{this.styles.field}}>
      <F.Input
        @isRequired={{true}}
        @key="name"
        @label={{t
          "routes.form.contact-me-form.fields.name.label"
        }}
        @placeholder={{t
          "routes.form.contact-me-form.fields.name.placeholder"
        }}
      />
    </div>
  </Ui::Form>
</Ui::Page>