{{page-title (t "routes.products.title")}}

<Ui::Page @title={{t "routes.products.title"}}>
  <div class={{this.styles.products}}>
    <div class={{this.styles.filters}}>
      Filters
    </div>

    <div class={{this.styles.list}}>
      {{#each this.model as |product|}}
        <div>
          <Products::Product::Card
            @product={{product}}
            @redirectTo="product-details"
          />
        </div>
      {{else}}
        <p>
          {{t "routes.products.no-products-found"}}
        </p>
      {{/each}}
    </div>

    <div class={{this.styles.product-details}}>
      {{outlet}}
    </div>
  </div>
</Ui::Page>