{{page-title (t "routes.products.title")}}

<Ui::Page @title={{t "routes.products.title"}}>
  <div
    class={{if
      (experiment name="nest-product-details" variant="v1")
      this.styles.products-with-details
      this.styles.products
    }}
  >
    <div class={{this.styles.filters}}>
      <div class={{this.styles.filter}}>
        <Ui::Form::Input
          @changeset={{hash name=this.name}}
          @key="name"
          @label={{t "routes.products.filter-by.name.label"}}
          @onUpdate={{perform this.updateQueryParameters}}
          @placeholder={{t
            "routes.products.filter-by.name.placeholder"
          }}
        />
      </div>

      <div class={{this.styles.filter}}>
        <Ui::Form::Select
          @changeset={{hash sortBy=this.sortBy}}
          @key="sortBy"
          @label={{t "routes.products.sort-by.label"}}
          @onUpdate={{perform this.updateQueryParameters}}
          @options={{this.options}}
        />
      </div>
    </div>

    <div class={{this.styles.list}}>
      {{#each
        (sort-by (if this.sortBy this.sortBy "") this.model)
        as |product|
      }}
        <div>
          <Products::Product::Card
            @product={{product}}
            @redirectTo={{if
              (experiment
                name="nest-product-details" variant="v1"
              )
              "products.product"
              "product-details"
            }}
          />
        </div>
      {{else}}
        <p>
          {{t "routes.products.no-products-found"}}
        </p>
      {{/each}}
    </div>

    <div class={{this.styles.product-details}}>
      {{outlet}}
    </div>
  </div>
</Ui::Page>