<form
  aria-describedby={{if
    @instructions
    (concat this.formId "-instructions")
  }}
  aria-labelledby={{if @title (concat this.formId "-title")}}
  data-test-form={{or @title ""}}
  local-class="form"
  {{on "submit" this.submitForm}}
>
  <Ui::Form::Information
    @formId={{this.formId}}
    @instructions={{@instructions}}
    @title={{@title}}
  />

  <ContainerQuery
    @features={{hash wide=(width min=480)}}
    as |CQ|
  >
    {{yield
      (hash
        Input=(component
          "ui/form/input"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )
      )
    }}
  </ContainerQuery>

  <div local-class="actions">
    <button
      data-test-button="Submit"
      local-class="submit-button"
      type="submit"
    >
      {{t "components.ui.form.submit"}}
    </button>
  </div>
</form>