{{page-title (t "routes.products.title")}}

<Ui::Page @title={{t "routes.products.title"}}>
  <div local-class="products-with-details">
    <div local-class="filters">
      Filters
    </div>

    <div local-class="list">
      {{#each @model as |product|}}
        <div>
          {{product.id}}
          -
          {{product.name}}
        </div>
      {{else}}
        <p>
          {{t "routes.products.no-products-found"}}
        </p>
      {{/each}}
    </div>

    <div local-class="product-details">
      {{outlet}}
    </div>
  </div>
</Ui::Page>